<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/login.css') }}">
</head>
<body>
    <div class="center">
        <h1>Login</h1>
        <form method="post">
           <div class="txtField">
               <input type="text" name="email" required>
               <span></span>
               <label>Email</label>
           </div>
            <div class="txtField">
                <input type="password" name="password" required>
                  <span></span>
               <label>Palavra-passe</label>
            </div>
            <div class="pass">Esqueceu a password?</div>
            <form action="/keys/">
            <div class="wrap">
              <button class="buttonSendNote" type="submit">Entrar</i></button>
            </div>
            </form>
            <div class="signUp">
                Não está registado?
                <a href="/register/">Registar</a>
            </div>

    </form>
    </div>
 
<!-- Div para a animação  -->
<div class='box'>
  <div class='wave -one'></div>
  <div class='wave -two'></div>
  <div class='wave -three'></div>
</div>
<!-- Fim da Div para a animação  -->
</body>
</html>